h1 {
	color: Black; 
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 24px; 
	text-align: center; 
	text-transform: uppercase;
    }
a {
    color: Red;
    cursor: pointer;
    text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}